extends layout

block content
  h1 Tetris Game - Classic Mode
  div.app-area(ng-app='theModule' ng-controller='mainCtrl')
    div.app-header
      div.board-details-area
        div.pull-right
          h5 Board Dimension - {{boardHeight}} x {{boardWidth}}
          h4(ng-hide='tetris.status=="yetToStart"')
            span Your Score: 
            span(ng-bind='tetris.board.score')

    div.app-body
      h3(ng-show='tetris.status=="yetToStart"') Press Enter to Start New Game
      h3(ng-show='tetris.status=="stopped"') Game Over, Press enter to start new game...     
      div.on-started(ng-show='tetris.status=="started"')
        div.display-table
          div.display-row(ng-repeat='row in coords track by $index')
            div.display-cell.cell(ng-repeat='datum in row track by $index'  ng-class='{"black":datum==0, "grey": datum==1, "red": datum==2}' )
                

    div.app-footer(ng-show='showHints')
      h5 Hints
      h6 ( w,a,s,d work the same as arrow keys)
      br
      h6 control buttons:
      div.hint-area  
        div.col1 
          h6 Enter 
          h6 
            span.maUp.maKey
            span ,
            span.maDown.maKey
          h6 
            span.maLeft.maKey
            span ,
            span.maRight.maKey
          h6 
          h6 
            span.maUp.maKey
          h6 
            span.maDown.maKey
          h6
            span.maLeft.maKey
          h6
            span.maRight.maKey
          h6
            span h  
        div.col2
          h6 - To Start Game
          h6 - Increase / Decrease board height 
          h6  - Increase / Decrease board width
          h6 (... and Once Game Starts)
          h6 - Rotate a piece
          h6 - Move piece down
          h6 - Move piece left
          h6 - Move piece right
          h6 - show / hide hints

