extends layout

block content
  h1 Tetris Game - Classic Mode
  div.app-area(ng-app='theModule' ng-controller='mainCtrl')
    div.app-header
      div.board-details-area
        div.pull-right
          h5 Board Details
          div
            span Height: 
            span(ng-bind='boardHeight')
          div
            span Width: 
            span(ng-bind='boardWidth')

    div.app-body
      h1(ng-show='tetris.status=="yetToStart"') Press Enter to Start New Game
      div(ng-hide='tetris.status=="yetToStart"')
        h5 Score: {{tetris.board.score}}
        h4(ng-show='tetris.status=="stopped"') Game Over, Press enter to start new game...
        div.on-started(ng-show='tetris.status=="started"')
          div.display-table
            div.display-row(ng-repeat='row in coords track by $index')
              div.display-cell.cell(ng-repeat='datum in row track by $index'  ng-class='{"black":datum==0, "grey": datum==1, "red": datum==2}' )
                

    div.app-footer
      h5 Hints
      h6 Press Enter To Start Game
      h6 
        span Increase / Decrease board height: 
        span.maUp.maKey
        span /
        span.maDown.maKey
      h6 
        span Increase / Decrease board width: 
        span.maRight.maKey
        span /
        span.maLeft.maKey
      h6 (... and Once Game Starts)
      h6 
        span.maUp.maKey
        span - Rotate a piece
      h6 
        span.maDown.maKey
        span - Move piece down
      h6
        span.maLeft.maKey
        span  - Move piece left
      h6
        span.maRight.maKey
        span - Move piece right



  
block customScripts
  script.
    console.log('hello world...');